.container {
  position: relative;
  z-index: var(--z-index-background-image);
  grid-row: 1 / -2;
  grid-column: 2 / -2;
  align-self: stretch;
  max-width: none;
  margin-inline: calc(var(--column-gap) * -1);
}
