# dependencies
/node_modules
/.pnp
.pnp.js

# logs
*.log

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# caches
.eslintcache
.stylelintcache
*.tsbuildinfo

# generated
public/**/favicon.ico
public/**/icon.svg
public/**/apple-touch-icon.png
public/**/*.webmanifest
public/**/open-graph.*
public/assets/cms/styles/*.css

# generated route manifest
src/lib/core/navigation/routes.ts

# storybook
storybook-static/

# cypress
cypress/downloads/
cypress/screenshots/
cypress/videos/
