@custom-media --screen-2xs (min-width: 320px);
@custom-media --screen-xs (min-width: 480px);
@custom-media --screen-sm (min-width: 640px);
@custom-media --screen-md (min-width: 768px);
@custom-media --screen-lg (min-width: 1024px);
@custom-media --screen-xl (min-width: 1280px);
@custom-media --screen-2xl (min-width: 1600px);

:root {
  --screen-2xs: 320px;
  --screen-xs: 480px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1600px;
  --screen-3xl: 1920px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply font-sans antialiased text-gray-800;
}

*:focus:not(:focus-visible) {
  outline: none;
}

.footnotes {
  font-size: 80%;
}

.metadata-table th[scope='rowgroup'] {
  padding-block: 12px;
  border-top: 1px solid hsl(0deg 0% 92.5%);
  background: hsl(0deg 0% 99%);
  font-weight: 500;
}

.metadata-table th[scope='row'] {
  padding-block: 8px;
  border-right: 1px solid hsl(0deg 0% 93%);
  font-weight: 400;
  font-style: italic;
  line-height: 1.25;
}

.metadata-table td[colspan] {
  vertical-align: middle;
  padding-inline: 4px;
  border-right: 1px solid hsl(0deg 0% 92.5%);
  border-left: 1px solid hsl(0deg 0% 92.5%);
  background: hsl(0deg 0% 96%);
  font-size: 12px;
  text-align: center;
}
