:root {
  --transition-duration: var(--animation-duration);

  /** Intentionally not transitioning `outline`, because `outline-color` will start from black, and browsers dont't do subpixel rendering for `outline-width`. */
  --transition-property: backdrop-filter, background-color, border-color, box-shadow, color, fill,
    filter, opacity, stroke, text-decoration-color, transform;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --color-scheme-transition-duration: var(--transition-duration);
  --color-scheme-transition-property: var(--transition-property);
  --color-scheme-transition-timing-function: var(--transition-timing-function);
}
