.grid {
  grid-template-rows: auto auto 1fr;
}

.leftBleed {
  display: none;
  grid-column: 1 / span 1;
}

.rightBleed {
  grid-column: -2 / span 1;
}

.mainColumn {
  grid-column: 2 / -2;
}

.sideColumn {
  display: none;
}

@media (min-width: 1024px) {
  .leftBleed {
    display: block;
    grid-column: 1 / span 2;
  }

  .rightBleed {
    grid-column: -3 / span 2;
  }

  .mainColumn {
    grid-row: 2 / span 2;
    grid-column: -10 / span 7;
  }

  .sideColumn {
    display: block;
    grid-column: 3 / span 3;
  }
}
