.container {
	display: grid;
	gap: var(--space-6);
}

.items {
	--gap: var(--space-12);

	position: relative;
	display: grid;
	gap: var(--gap);
	padding-block-end: calc(var(--gap) / 2);

	@media (/* --screen-md */ min-width: 48rem) {
		grid-template-columns: repeat(2, 1fr);
	}

	& > ::after {
		content: "";
		position: absolute;
		right: 0;
		left: 0;
		display: flex;
		height: 1px;
		background-color: var(--color-separator);
		transform: translateY(calc(var(--gap) / 2));
	}
}

.controls {
	justify-self: end;
}
