.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 2 / -2;
  padding-inline: 24px;
}

.leftBleed {
  grid-column: 1 / span 2;
}

@media (min-width: 768px) {
  .layout {
    grid-column: 3 / -3;
  }
}

@media (min-width: 1024px) {
  .layout {
    grid-template-columns: calc(50vw - (var(--screen-3xl) / 2)) repeat(
        8,
        minmax(0, calc(var(--screen, var(--screen-3xl)) / 12))
      );
    grid-column: 1 / span 9;
    padding-inline: 0;
  }

  .content {
    grid-column: 3 / span 7;
  }
}
