.container {
  --max-height: 688px;

  position: relative;
  display: grid;
  grid-area: hero;
  gap: var(--space-8);
  align-content: start;
  justify-self: center;
  min-height: min(62.5vw, var(--max-height));
  padding-block: var(--space-32);
}

.title {
  color: var(--color-heading);
  font-size: var(--font-size-7);
  line-height: var(--line-height-tight);
}

.paragraph {
  font-size: var(--font-size-ui-base);
  line-height: var(--line-height-relaxed);
}
