.container {
  padding: var(--space-2-5) var(--space-2-5);
  border-radius: var(--border-radius-lg);
  background-color: var(--color-neutral-0);
  box-shadow: var(--box-shadow);

  @media (/* --screen-sm */ min-width: 40rem) {
    padding: var(--space-2-5) var(--space-8);
  }
}
