.container {
	grid-area: contact-form;
}

.form-fields {
	display: grid;
	gap: var(--space-6);
	max-width: var(--size-128);
	padding-block: var(--space-12) var(--space-24);
}

.controls {
	justify-self: end;
	padding-block: var(--space-2);
}
