.button {
	position: absolute;
	top: var(--space-8);
	right: 0;
	display: inline-grid;
	padding: var(--space-2);
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius-md);
	background: none;
	color: var(--color-link-text);
	font-size: var(--font-size-ui-sm);
	place-items: center;

	&:hover {
		border-color: var(--color-primary-100);
		background-color: var(--color-primary-50);
		color: var(--color-link-text-hover);
	}

	&:focus-visible {
		border-color: var(--color-primary-100);
		background-color: var(--color-primary-50);
		color: var(--color-link-text-hover);
	}

	& > svg {
		width: var(--size-2-5);
		height: var(--size-2-5);
	}
}
