.layout {
	--column-count: 12;
	--column-gap: var(--size-6);
	--max-width: var(--size-max-content-width);
	--max-column-width: calc(
		(var(--max-width) - (var(--column-count) - 1) * var(--column-gap)) / var(--column-count)
	);
	--section-header-height: 80px;

	position: relative;
	display: grid;
	grid-template-areas:
		". header header header header header header header header header header header header ."
		". search-filters search-filters search-filters search-filters search-filters search-filters search-filters search-filters search-filters search-filters search-filters search-filters ."
		". search-results-header search-results-header search-results-header search-results-header search-results-header search-results-header search-results-header search-results-header search-results-header search-results-header search-results-header search-results-header ."
		". search-results search-results search-results search-results search-results search-results search-results search-results search-results search-results search-results search-results ."
		". search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer ."
		". funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice .";
	grid-template-rows: auto auto auto 1fr auto auto;
	grid-template-columns:
		minmax(0, 1fr)
		repeat(var(--column-count), minmax(0, var(--max-column-width)))
		minmax(0, 1fr);
	align-items: start;
	min-height: 100%;
	column-gap: var(--column-gap);

	@media (/* --screen-xs */ min-width: 30rem) {
		--column-gap: var(--size-8);

		grid-template-areas:
			". . header header header header header header header header header header . ."
			". . search-filters search-filters search-filters search-filters search-filters search-filters search-filters search-filters search-filters search-filters . ."
			". . search-results-header search-results-header search-results-header search-results-header search-results-header search-results-header search-results-header search-results-header search-results-header search-results-header . ."
			". . search-results search-results search-results search-results search-results search-results search-results search-results search-results search-results . ."
			". . search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer . ."
			". . funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice . .";
	}

	@media (/* --screen-lg */ min-width: 64rem) {
		grid-template-areas:
			". . header header header header header header header header header header . ."
			". . search-filters search-filters search-filters search-results-header search-results-header search-results-header search-results-header search-results-header search-results-header search-results-header . ."
			". . search-filters search-filters search-filters search-results search-results search-results search-results search-results search-results search-results . ."
			". . search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer search-results-footer . ."
			". . funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice funding-notice . .";
		grid-template-rows: auto auto 1fr auto auto;
	}
}
