.container {
  display: flex;
  grid-area: alert;
  align-items: center;
  padding-block: var(--space-1);
  padding-inline: var(--space-4);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-3-5);
}

.container[data-color='notice'] {
  background: var(--color-notice-600);
  color: var(--color-neutral-800);
}

.container[data-color='negative'] {
  background: var(--color-negative-600);
  color: var(--color-neutral-0);
}

.container[data-color='positive'] {
  background: var(--color-positive-600);
  color: var(--color-neutral-0);
}
