.container {
	display: grid;
	grid-area: funding-notice;
	grid-template-columns: 40px auto;
	gap: var(--space-6);
	max-width: var(--size-256);
	padding-block: var(--space-24);
	color: var(--color-text-muted);
	font-size: var(--font-size-ui-xs);
	line-height: var(--line-height-relaxed);

	& p {
		max-width: 44rem;
	}
}

.container::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	grid-row: funding-notice;
	border-top: 1px solid var(--color-separator);
}

.logos {
	display: grid;
	grid-column: span 2;
	grid-auto-columns: 120px;
	grid-auto-flow: column;
	gap: var(--space-2);
}
