.container {
  display: grid;
  gap: var(--space-4);
  align-content: start;
  height: 100%;
}

.title {
  display: grid;
  grid-template-columns: var(--size-10) 1fr;
  grid-auto-flow: column;
  gap: var(--space-3);
  align-items: center;
  color: var(--color-heading);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-ui-lg);
  line-height: var(--line-height-tight);
}

.read-more-link {
  justify-self: end;
  font-size: var(--font-size-ui-sm);
}
